<!-- importamos la macro para poder renderizar la lista todo -->
{% extends 'base.html' %}
{% import 'macros_todo.html' as macros %}

<!-- con esto, extendemos lo que viene de base.html
no lo sobreescribimos-->
{% block title %} 
	{{ super() }}
	Bienvenido 
{% endblock %}

{% block content %}
	<header>
	<!-- la forma de renderear una variable en jinja2 -->
	{% if user_ip %}
	<h1 style="color: #18f319">Hello world Platzi, tu IP es {{ user_ip }}</h1>
	{% else %}
	<!-- url_for permite encontrar una ruta especifica, llamando el nombre
		de la funcion a la que pertenece la ruta -->
		<a href="{{ url_for('index') }}">ir a inicio</a>
		{% endif %}
		
		<ul>
			{% for to_do in to_dos %}
				{{ macros.render_to_do(to_do) }}
			{% endfor %}
		</ul>
	</header>
{% endblock %}