{% extends 'base.html' %}
<!-- importamos la macro para poder renderizar la lista todo -->
{% import 'macros_todo.html' as macros %}
<!-- importamos bootstrap para hacer render de el form -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- con esto, extendemos lo que viene de base.html
no lo sobreescribimos-->
{% block title %} 
	{{ super() }}
	Bienvenido 
{% endblock %}

{% block content %}
	{% if username %}
		<h3>Bienvenido {{ username | capitalize }}</h3>
	{% endif %}

	<!-- la forma de renderear una variable en jinja2 -->
	{% if user_ip %}
	<h1 style="color: #18f319">Hello world Platzi, tu IP es {{ user_ip }}</h1>
	{% else %}
		<a href="{{ url_for('index') }}">ir a inicio</a>
	{% endif %}
	
	<div class="container"> 
		<h2>Crea tus tareas aqui</h2>

		{{ wtf.quick_form(todo_form) }}
	</div>

	<ul class="list-group">	
		{% for to_do in to_dos %}
			{{ macros.render_to_do(to_do, delete_form, update_form) }}
		{% endfor %}
	</ul>
{% endblock %}