{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_to_do(to_do, delete_form, update_form) %}
	<li class="list-group-item">
	        <span class="badge">
			{% if to_do.to_dict().done %}
				done
			{% else %}
				todo
			{% endif %}
		</span>
	        Descripción: {{ to_do.to_dict().description }}
		<button type="button" class="btn btn-light">
			{{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=to_do.id)) }}
		</button>
		<button type="button" class="btn btn-light">
			{{ wtf.quick_form(update_form, action=url_for('update', todo_id=to_do.id, done=to_do.to_dict().done)) }}
		</button>
	</li>
{% endmacro %}